<!DOCTYPE html>


<html>
    <head>
        <meta charset="utf-8">
        <title>Python Programming tutorial</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link rel="shortcut icon" href="{{url_for('static',filename='images/pyastro_logo.svg')}}">
       </head>

        <header>

            <div class="navbar-header">

                <a class="navbar-header" href="/"></a>
                <h2 > <img src="{{url_for('static',filename='images/404-snake.png')}} ", style="max-width: 120px; margin-top: -7;" >Want to learn Python but worried about how to get started?</h2>
            </div>

            <ul class="nav nav-pills" role="tablist">

                <button type="button" class="btn btn-outline-success" aria-label="Left Aligh" style="margin-top: 5px; margin-bottom: 5px; height: 44px; margin-right: 15px;">
                    <svg class="bi bi-power" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
                        <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
                      </svg>
                    <span  aria-hidden="true"></span> Start Learning
                
                
                
                </button>
            </ul>
        </header>
    



















































</html>
